nav{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    
    border-bottom: 2px solid #f1f1f1;
    width: 100%;
    
    padding: 1.2em 0;
    
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}